/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  width:100%;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  margin-bottom: 20px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.padding {
  align-items: center;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header h1 {
  text-align: center;
}


header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  
}

form select,
form input {
  
  margin-bottom: 20px;
  width: 60%;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}
.spacing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 768px) {

  /* Header */
  header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 10px;
  }

  header nav {
    align-items: center;
    justify-content: center;
  }

  /* Search box */

  form {
    display: flex;
    justify-content: space-between;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    
  }
  
  .spacing {
    display: block;
    margin: 10px 20px 0 0;
  }

  .spacing:last-child {
    margin-right: 100px;
  }

  form input,
  form select {
    width: 100%;
  }



  /* About */

  .img-sizing {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

  }
  .padding {
    display:flex;
    align-items: center;
  
  }

  /* Ideas */

  .picture-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .padding2 {
    flex: 1 0 calc(35% - 20px);
    margin: 5px;
  }
  .padding {
    margin: 10px;
  }

  /* Host */
  .host-alignment {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .padding3 {
    margin-top: 30px;
  }

}
